{% extends 'base.html.twig' %}

{% block body %}

            <div class="container">
                <h1 class="title">Modifier une tâche</h1>

                    {{ form_start(edit_form) }}
                    <div class="form-group">
                        {{ form_row(edit_form.titre, {'attr': {'class':'form-control'}}) }}
                        {{ form_row(edit_form.description, {'attr': {'class':'form-control'}}) }}
                        {{ form_row(edit_form.statut, {'attr': {'class':'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success col-md-3" type="submit" value="Modifier" />
                    {{ form_end(edit_form) }}
                    </div>

                    <div class="form-group">
                        {{ form_start(delete_form) }}
                        <input class="btn btn-danger col-md-3" type="submit" value="Supprimer">
                        {{ form_end(delete_form) }}
                    </div>
                    <div class="form-group">
                        <a href="{{ path('tache_index') }}">
                            <button class="btn btn-default col-md-3" type="submit"> Retour à la liste </button>
                        </a>
                    </div>

{% endblock %}
